body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background-image: url('img/odyssey-bg.png');
    background-position: center;
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    color: green;
}

.story {
    color: green;
    font-size: 18px;
    max-width: 700px;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}