body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    background-image: url('img/odyssey-bg.png');
    background-position: center;
}

/* * {
    box-sizing: border-box;
} */

canvas {
    background-color: black;
    display: block;
    position: relative;
    aspect-ratio: 1.5 / 1;
}

button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    background-color: #aedecb;
}

button:hover {
    background-color: #b9ecd7;
}

button:active {
    background-color: #7d9f92;
}

.canvas-container {
    width: 100%;
    max-width: 720px;
    aspect-ratio: 1.5 / 1;
    position: relative;
}

.ui-and-hud-container {
    display: flex;
    justify-content: center;
}

.hud-buttons {
    width: 95%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    z-index: 1;
}

#shoot-button {
    /* height: 60px; */
}

.hud-buttons-segment {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.hud-button {
    height: 48px;
    width: 48px;
}

.endscreen {
    width: 720px;
    aspect-ratio: 1.5 / 1;
    background-color: black;
    color: white;
    font-family: PublicPixel;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ui-buttons {
    position: absolute;
    top: 5px;
    display: flex;
    gap: 10px;
    z-index: 1;
}

.ui-buttons img {
    height: 30px;
    cursor: pointer;
}

h1 {
    color: green;
    font-family: PublicPixel;
    font-size: 24px;
    text-align: center;
}

#rotate-phone {
    position: absolute;
    top: 0;
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
    font-size:7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-background {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #0000004b;
}

.card {
    height: 80vh;
    max-width: 400px;
    width: 300px;
    background-color: #aedecb;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-word;
}

.card-content {
}

.story {
    color: green;
    font-size: 18px;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.center2 {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.keybin {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.gap10 {
    gap: 10px;
}

.main-buttons {
    height: 300px;
    padding: 50px;
}

.main-button {
    min-width: 200px;
    height: 70px;
    font-size: large;
    cursor: pointer;
    background-color: #aedecb;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.main-button:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
        0 15px 0 -4px green,
        0 16px 10px -3px green;
}

.main-button:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
        0 8px 0 -4px green,
        0 12px 10px -3px green;
}

.legal-notice-buttons {
    gap: 20px;
}

.legal-notice-button {
    width: 130px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
}

.legal-notice-button:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    background-color: #171717;
    box-shadow: 0 7px 0 -2px #fff,
        0 15px 0 -4px #39a2db,
        0 16px 10px -3px #39a2db;
}

.legal-notice-button:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    background-color: #171717;
    box-shadow: 0 2px 0 -2px #fff,
        0 8px 0 -4px #39a2db,
        0 12px 10px -3px #39a2db;
}


::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        max-height: 100vh;
    }
}

@font-face {
    font-family: PublicPixel;
    src: url('font/public-pixel-font/PublicPixel-z84yD.ttf');
}